<%- include('partials/header'); -%>
<div class="thank-you">
  <img src="./images/illustration-thank-you.svg" alt="thank you">
</div>
<div class="confirmation">
    <p>You selected <%= rating %> out of 5</p>
</div>
<div class="greeting">
    <h2>Thank you!</h2>
</div>
<div class="salutation">
  <p>We appreciate you taking the time to give a rating. If you ever need more support,
  don’t hesitate to get in touch!</p>

</div>



<%- include('partials/footer'); -%>
