
<%- include('partials/header'); -%>
<div class="icon">
  <img class="star" src="./images/icon-star.svg" alt="icon-star">
</div>
<div class="question">
  <h2>How did we do?</h2>
</div>
<div class="description">
  <p>Please let us know how we did with your support request. All feedback is appreciated to help us improve our offering!</p>
</div>
<div class="ratings">
  <button id="button1" class="btn btn-small">1</button>
  <button id="button2" class="btn btn-small">2</button>
  <button id="button3" class="btn btn-small">3</button>
  <button id="buttton4" class="btn btn-small">4</button>
  <button id="button5" class="btn btn-small">5</button>
</div>
<form class="rating-form" action="/confirmation" method="post">
  <div>
    <button type="submit" class="btn btn-block">SUBMIT</button>
  </div>
</form>


<%- include('partials/footer'); -%>
